<nav class="items-center bg-white flex flex-wrap justify-between px-8 py-5">
    <div class="w-1/2 md:w-1/6 flex text-sm font-bold items-center">
        <div class="flex items-center">
            <svg class="fill-current text-app-yellow h-4 w-4 md:h-8 md:w-8" viewBox="0 -87 432 432"><path d="m278.90625 0h-248.90625c-16.5625.0195312-29.9804688 13.4375-30 30v197.421875c.0195312 16.5625 13.4375 29.980469 30 30h248.90625c16.558594-.019531 29.980469-13.4375 30-30v-197.421875c-.019531-16.5625-13.441406-29.9804688-30-30zm0 0"/><path d="m328.90625 169.800781 103.09375 56.285157v-194.105469l-103.09375 56.285156zm0 0"/></svg>
            <span class="px-2 tracking-wide text-lg">Conftify</span>
        </div>
    </div>
    <div class="w-1/2 md:w-4/6 text-xs md:text-xl font-light text-right md:text-left md:pl-3 lg:pl-0">
        <span class="text-right">Conference in a Cloud</span>
    </div>
    <div class="hidden md:flex md:flex-wrap md:w-1/6 justify-end">
        <a href="/" class="bg-app-red bg-opacity-25 p-2 mx-2 rounded-lg shadow-md">
            <svg class="fill-current text-app-red h-5 w-5 inline"
            viewBox="0 0 477.867 477.867"><g><g><path d="M469.777,122.01c-5.031-3.111-11.315-3.395-16.606-0.751l-111.838,55.927v-40.653c0-28.277-22.923-51.2-51.2-51.2H51.2
                    c-28.277,0-51.2,22.923-51.2,51.2v204.8c0,28.277,22.923,51.2,51.2,51.2h238.933c28.277,0,51.2-22.923,51.2-51.2v-40.653
                    l111.838,56.013c8.432,4.213,18.682,0.794,22.896-7.638c1.198-2.397,1.815-5.043,1.8-7.722v-204.8
                    C477.87,130.617,474.809,125.122,469.777,122.01z M170.667,307.2c-37.703,0-68.267-30.564-68.267-68.267
                    s30.564-68.267,68.267-68.267s68.267,30.564,68.267,68.267S208.369,307.2,170.667,307.2z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
            </svg>
        </a>
        <a href="/"  class="bg-app-yellow bg-opacity-25 p-2 mr-2 rounded-lg shadow-md">
            <svg class="fill-current text-app-yellow h-5 w-5 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
              </svg>
        </a>
    </div>
</nav>